    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>个人微信机器人</title>
    <meta name="description" content="微信,机器人,自动回复"/>
    <meta name="keywords" content="微信,机器人,自动回复"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="generator" content="Hugo 0.79.0">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href='/assets/css/app.css?v=1.27'>
    <script src="/assets/js/jquery-3.4.1.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.qrcode.min.js"></script>
    <script src="../assets/js/util.js?v=1.08"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@10.6.0/styles/solarized-light.css" media="none" onload="this.media='all'">
    <!--<link rel="manifest" href="/assets/manifest.json" />-->
    <link rel="apple-touch-icon" href="/assets/icon512.png">
    <link rel="shortcut icon" href="/assets/favicon.ico">