<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/header') %>
</head>

<body>
    <div id="login" class="container-fiuled text-center qrcode-parent">
        <div class="qrcode-child">
            <h5 id="scanTip" class="mb-3">个人微信扫码登录</h5>
            <div id="qrcode" class="text-center"></div>
        </div>
    </div>
    <div id="wechat" class="d-none">
        <%- include('./partials/nav') %>
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse overflow-auto">
                        <div class="position-sticky pt-3">
                            <ul class="nav flex-column" id="ulContacts"></ul>
                        </div>
                    </nav>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="appIntroduce">
                        <div style="height:92vh">
                            <h4 class="session-title">个人微信机器人平台</h4>
                            <div class="table-responsive" style="height:78vh">
                                <div class="introduce table table-striped table-sm">
                                    <div class="mb-3 pd-20">本系统基于个人微信进行二次开发，结合当前流行的开放AI大模型平台，除实现个人微信的基本功能外，集成了ChatGPT、百度AI大模型、火山方舟AI大模型、通义千问大模型等多种AI针对多行业的AI应用。</div>
                                    <h5>微信基本功能</h5>
                                    <p class="h6 ml-20">联系人管理</p>
                                    <p class="h6 ml-20">头像处理</p>
                                    <p class="h6 ml-20">好友互动</p>
                                    <p class="h6 ml-20">群管理</p>
                                    <p class="h6 ml-20">红包信息</p>
                                    <p class="h6 ml-20">转账信息</p>
                                    <p class="h6 ml-20">转发消息</p>
                                    <p class="h6 ml-20">撤回消息</p>
                                    <h5>工作/生活助手</h5>
                                    <p class="h6 ml-20">定时任务</p>
                                    <p class="h6 ml-20">智能机器人对话</p>
                                    <p class="h6 ml-20">智能客服</p>
                                    <p class="h6 ml-20">图片解析</p>
                                    <h5>文案/图片/视频生成</h5>
                                    <p class="h6 ml-20">自媒体文案生成</p>
                                    <p class="h6 ml-20">创意文案生成</p>
                                    <p class="h6 ml-20">小视频生成</p>
                                    <p class="h6 ml-20">小视频剧本</p>
                                    <h5>远期计划</h5>
                                    <p class="h6 ml-20">支持企业微信</p>
                                    <p class="h6 ml-20">支持QQ</p>
                                    <p class="h6 ml-20">支持叮叮</p>
                                    <p class="h6 ml-20">支持WhatsApp</p>
                                    <p class="h6 ml-20">支持Gitter</p>
                                </div>
                            </div>
                        </div>
                    </main>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-none" id="sessionRecord">
                        <div style="height:92vh">
                            <h4 class='session-title' id="sessionTitle">会话</h4>
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col col-w65" id="sessionContent"></div>
                                <div class="col col-w35 ml-5">
                                    <div class="card" style="border:none;">
                                        <div class="card-body">
                                          <h5 class="card-title">模型选择</h5>
                                        </div>
                                        <fieldset class="" style="padding-left:2rem;">
                                            <div class="form-check">
                                                <input type="radio" name="models" class="form-check-input" id="moduleDB">
                                                <label class="form-check-label" for="moduleDB">豆包doubao-pro-32k（火山方舟）</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="models" class="form-check-input" checked id="moduleBD">
                                                <label class="form-check-label" for="moduleBD">百度ERNIE-Speed-128K</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="models" class="form-check-input" disabled id="moduleGPT35">
                                                <label class="form-check-label" for="moduleGPT35">ChatGPT3.5</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="models" class="form-check-input" disabled id="moduleGPT40">
                                                <label class="form-check-label" for="moduleGPT40">ChatGPT4.0</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="models" class="form-check-input" disabled id="moduleKIMI">
                                                <label class="form-check-label" for="moduleKIMI">Kimi</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="card" style="border:none;">
                                        <div class="card-body">
                                          <h5 class="card-title">应用场景</h5>
                                        </div>
                                        <fieldset class="mb-3" style="padding-left:2rem;">
                                            <div class="form-check">
                                                <input type="radio" name="Scene" class="form-check-input" checked id="sceneDH">
                                                <label class="form-check-label" for="sceneDH">智能对话</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="Scene" class="form-check-input" disabled id="sceneKF">
                                                <label class="form-check-label" for="sceneKF">智能客服</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="Scene" class="form-check-input" disabled id="sceneXHS">
                                                <label class="form-check-label" for="sceneXHS">小红书文案</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="Scene" class="form-check-input" disabled id="sceneHT">
                                                <label class="form-check-label" for="sceneHT">文生图--智能绘图</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="Scene" class="form-check-input" disabled id="sceneJB">
                                                <label class="form-check-label" for="sceneJB">小视频剧本</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="Scene" class="form-check-input" disabled id="sceneXSP">
                                                <label class="form-check-label" for="sceneXSP">生成小视频</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="card" style="border:none;">
                                        <div class="card-body">
                                          <h5 class="card-title">智能助手</h5>
                                        </div>
                                        <fieldset class="mb-3" style="padding-left:2rem;">
                                            <div class="form-check">
                                                <input type="radio" name="assistant" class="form-check-input" disabled id="assTX">
                                                <label class="form-check-label" for="assTX">定时事件提醒</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="assistant" class="form-check-input" disabled id="assXX">
                                                <label class="form-check-label" for="assXX">消息/信息提醒</label>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="radio" name="assistant" class="form-check-input" disabled id="assDS">
                                                <label class="form-check-label" for="assDS">定时发消息给好友</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </main>
                </div>
            </div>
    </div>
    <!--<div class="modal fade" id="loading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loadingLabel" aria-hidden="true" style="overflow-y:hidden;">
        <div class="modal-dialog">
            <div class="modal-tip" id="loadingLabel">初始化中，请稍等......</div>
        </div>
    </div>-->
</body>
<script type="text/javascript">
    var bot, me;
    var message = [];
    var youHeadImg = '';
    var contacts = [];
    var initTip;
    $(function(){
        //showQRCode();
        listenWechatState();
    });
    function showQRCode(restart = ''){
        var apiUrl = "/api/uuid";
        if(restart.length>0) apiUrl = "/api/uuid";
        $.ajax({
            type: "GET",
            url: apiUrl,
            dataType:'json',
            success: function(data){
                $('#qrcode').html('');
                $('#qrcode').qrcode(data.qrcode);
                listenWechatState();
            },
            error:function(error){
                console.log('error: ',error);
            },
            complete:function(res){
            }
        })
    }
    
    function listenWechatState(){
        var apiUrl = '/api/wechatstate';
        const eventSource = new EventSource(apiUrl);
        eventSource.onopen = (event) => {
            // 连接建立时的操作
        };
        eventSource.onerror = (error) => {
            // 错误处理
        };
        eventSource.onmessage = (event) => {
            // 处理接收到的消息 event.data
            var json = JSON.parse(event.data);
            var html = '';
            switch(json.event){
                case 'start':
                    bot = json.data;
                    $('#ulContacts').html('');
                    break;
                case 'scan':
                    $('#qrcode').html('');
                    $('#qrcode').qrcode(json.data.qrUrl);
                    break;
                case 'message':
                    const msg = json.data;
                    var existsMsg = $.grep(message, function(item){ return item.id === msg.id });
                    if(!existsMsg || existsMsg.length === 0 ) message.push(msg)
                    switch(msg.payload.type){
                        case 7: showNewTextSession(msg); break;
                    } 
                    break;
                case 'close':
                    setTimeout(function(){ eventSource.close(); },3000);
                    break;
                case 'avatar':
                    $('#scanTip').hide();
                    html = `<img src='${json.data}' style='width:160px;height:160px;' id='header'/><div id='changeAcc' class='text-center'><button class="w-35 btn btn-outline-primary mt-5 changeacc" onclick='changeAccount()'>切换账户</button></div>`
                    $('#qrcode').html(html);
                    break;
                case 'loginuser':
                    me = json.data;
                    break;
                case 'contact':
                    const exist = contacts.find((item) => { return item.UserName === json.data.UserName});
                    if(!exist) {
                        html = `<li class='nav-item'><a class='nav-link' onclick='showSession("${json.data.UserName}")' data-key='${json.data.UserName}' aria-current='page' href='#'><img class='wxuser-headimg' data-key='${json.data.UserName}' src='${json.data.headImg}'>${json.data.NickName}</a></li>`
                        $('#ulContacts').append(html);
                        contacts.push(json.data);
                    }
                    break;
                /*case 'confirmed':
                    $('#login').removeClass('d-none').addClass('d-none');
                    $('#wechat').removeClass('d-none');
                    $("#loading").modal('show');
                    $('.modal-backdrop').html(`<div class="modal-tip">初始化中，请稍等......</div>`)
                    break;*/
                case 'loading':
                    $('#login').removeClass('d-none').addClass('d-none');
                    $('#wechat').removeClass('d-none');
                    //$("#loading").modal('show');
                    initTip = Tips('初始化中，请稍等 ......')
                    break;
                case 'login':
                    break;
                case 'ready':
                    //$("#loading").modal('hide');
                    removeTips(initTip)
                    break;
                case 'reloadbot':
                    bot = json.data;
                    break;
                case 'error':
                    setTimeout(function(){
                        eventSource.close();
                        listenWechatState();
                    },3000);
                    break;
            }
        };
    }
    function getLoginUserAvatar(){
        var apiUrl = `/api/meHeadimg`
        $.ajax({
            type: "GET",
            url: apiUrl,
            dataType:'json',
            success: function(ret){
                me.headImg = ret.img;
            },
            error:function(error){
                console.log('error: ',error);
            },
            complete:function(res){
                
            }
        })
    }
    var isShowMessage = [];
    function showNewTextSession(msg){
        if($('a.nav-link.active').length < 1 ) return;
        var from = $('a.nav-link.active').attr('data-key');
        if(from.substring(0,2) === '@@'){
            if(!msg.payload.hasOwnProperty('roomId') || msg.payload.roomId !== from) return;
        }
        else{
            var isMeListen = (from === msg.payload.listenerId && me.UserName === msg.payload.talkerId )
            var isMeTalk = (from === msg.payload.talkerId && me.UserName === msg.payload.listenerId);
            if(!isMeListen && !isMeTalk) return;
        }
        var talker = msg.payload.talker;

        if(isShowMessage.indexOf(msg.id) < 0 ) {
            var html = showMessageContent(msg, talker);
            $('#sessionContent').append(html);
            scroll2SessionBottom();
            isShowMessage.push(msg.MsgId);
        }
    }
    function showMessageContent(msg){
        var html = '';
        var talker = msg.payload.talker;
        var time = getMsgTime(msg.payload.timestamp);
        var floatCls = msg.payload.talkerId === me.UserName ? 'float-right' : 'float-left';
        var timeCls = msg.payload.talkerId === me.UserName ? 'time-r' : 'time-l';
        var msgCls = msg.payload.talkerId === me.UserName ? 'text-msg-r' : 'text-msg-l';
        var imgCls = msg.payload.talkerId === me.UserName ? 'wx-user-head ml-5' : 'wx-user-head';

        html +=`                                  <div class='col ${floatCls}' data-key=${msg.id}>`;
        html +=`                                    <div class='card no-border'>`;
        html +=`                                       <div class='row' style='flex-wrap:nowrap;'>`;
        if(msg.payload.talkerId !== me.UserName){
            html +=`                                           <div class='col-md-2 wx-user-head-container-r'>`;
            html +=`                                                <img src='${talker.headImg}' class='${imgCls}'>`;
            html +=`                                           </div>`;
        }
        html +=`                                           <div class='col-md-10 card-body'>`;
        html +=`                                            <div class='${timeCls}'><span>${me.NickName}</span><span class='pl-15'>${time}</span></div>`;
        html +=`                                            <div class='${msgCls}'>${msg.payload.text}</div>`;
        html +=`                                           </div>`;
        if(msg.payload.talkerId === me.UserName){
            html +=`                                           <div class='col-md-2 wx-user-head-container-r'>`;
            html +=`                                                <img src='${me.headImg}' class='${imgCls}'>`;
            html +=`                                           </div>`;
        }
        html +=`                                       </div>`;
        html +=`                                    </div>`;
        html +=`                                  </div>`;
        return html;
    }
    function showSession(userName){
        if($(`a[data-key="${userName}"]`).hasClass('active')) {
            if($('button.navbar-toggler').height() > 0 && $('button.navbar-toggler').width() > 0) $('#sidebarMenu').removeClass('show')
            return;
        }
        $('.nav-link').removeClass('active');
        $(`a[data-key="${userName}"]`).addClass('active');
        var fromUserName = $(`a.nav-link.active[data-key="${userName}"]`)[0].innerText;
        var fromUserHeadImg = $(`img[data-key="${userName}"]`).attr('src')
        if(userName.substring(0,2) === '@@') $('#sessionTitle').text(` ${fromUserName} 的群聊`);
        else  $('#sessionTitle').text(`与 ${fromUserName} 的聊天记录`);

        var sessions =  $.grep(message, function(msg) {
            var msgType = msg.payload.type !== 0;
            var peer2peer = ( msg.payload.talkerId === userName && msg.payload.listenerId === me.UserName ) || ( msg.payload.listenerId === userName && msg.payload.talkerId === me.UserName );
            var isRoom = msg.payload.hasOwnProperty('roomId') && msg.payload.roomId === userName;
            return msgType && ( peer2peer || isRoom);
            //return msg.payload.type !== 0 && ( ( msg.payload.talkerId === fromUser && msg.payload.listenerId === me.UserName ) || ( msg.payload.listenerId === fromUser && msg.payload.talkerId === me.UserName ) );
        });
        sessions.sort( function(a,b) { return a.payload.timestamp - b.payload.timestamp } );
        var html = '';
        isShowMessage = [];
        var talker = me;
        if(userName.substring(0,2) !== '@@') talker = syncGetTalker(userName).contact;
        $('#sessionContent').html(html);

        $.each(sessions, function(index, msg){
            if(isShowMessage.indexOf(msg.id) < 0 ) {
                if(userName.substring(0,2) === '@@'){
                    talker = me;
                    if(msg.payload.talkerId !== me.UserName) talker = syncGetTalker(msg.payload.talkerId).contact;
                }
                html += showMessageContent(msg, talker);
                isShowMessage.push(msg.id)
            }
        });
        $('#sessionContent').html(html);
        scroll2SessionBottom();
        $('#appIntroduce').removeClass('d-none').addClass('d-none');
        $('#sessionRecord').removeClass('d-none');
        if($('button.navbar-toggler').height() > 0 && $('button.navbar-toggler').width() > 0) $('#sidebarMenu').removeClass('show')
    }
    function syncGetTalker(uId){
        var data = $.ajax({
            url: `/api/avatar/${uId}`,
            type: "GET", 
            async: false, 
            dataType: "json" 
        }).responseText;
        return JSON.parse(data);
    }
    function scroll2SessionBottom(){
        var element = document.getElementById("sessionContent");
        element.scrollTop = element.scrollHeight;
    }
    
    function getMsgTime(timestamp){
        var datetime = timestampToTime(timestamp);
        var cur_time = timestampToTime(Date.now());
        var dt = datetime.split(' ');
        var ct = cur_time.split(' ');
        if(dt[0] === ct[0]) return dt[1];
        return datetime;
    }
    function timestampToTime(stamp) {
        var timestamp = stamp;
        if((stamp+'').length < 13 ) timestamp = timestamp * 1000;
        var date = new Date(timestamp); // 时间戳转换成Date对象
        var year = date.getFullYear(); // 获取年
        var month = date.getMonth() + 1; // 获取月（月份比实际小1，所以需要+1）
        var day = date.getDate(); // 获取日
        var hours = date.getHours(); // 获取小时
        var minutes = date.getMinutes(); // 获取分钟
        var seconds = date.getSeconds(); // 获取秒钟
       
        // 补零操作
        month = (month < 10 ? "0" : "") + month;
        day = (day < 10 ? "0" : "") + day;
        hours = (hours < 10 ? "0" : "") + hours;
        minutes = (minutes < 10 ? "0" : "") + minutes;
        seconds = (seconds < 10 ? "0" : "") + seconds;
       
        // 拼接成YYYY-MM-DD HH:MM:SS格式
        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }
    function getUserHeadImg(userName){
        var apiUrl = `/api/headimg/${userName}`
        $.ajax({
            type: "GET",
            url: apiUrl,
            dataType:'json',
            success: function(data){
                debugger;
            },
            error:function(error){
                console.log('error: ',error);
            },
            complete:function(res){
                
            }
        })
    }
    function changeAccount(){
        /*$('#scanTip').show();
        $('#header').remove();
        $('#changeAcc').remove();
        showQRCode('restart');*/
        location.reload();
    }
</script>
</html>